.home {
  min-height: 100%;
  background-image: linear-gradient(#CF3E3C, #E14A47);
  .top-img {
    width: 100%;
    height: 209px;
    background-image: url('../../images/top.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .tag-box {
    height: 35px;
    position: relative;
    .tag-item {
      height: 32px;
      position: absolute;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      box-sizing: border-box;
      width: 67.5px;
      .text {
        font-size: 12px;
        color: #FED97E;
        padding: 0 7px;
        line-height: 32px;
        display: block;
      }
    }
    .prize {
      background-image: url('../../images/tag_bg.png');
      left: 0px;
      top: -31px;
    }
    .method {
      background-image: url('../../images/tag_bg_r.png');
      right: 0px;
      top: -31px;
      text-align: right;
    }
    .integral {
      background-image: url('../../images/tag_bg.png');
      min-width: 67.5px;
      left: 0px;
      top: 3px;
    }
    .share {
      background-image: url('../../images/tag_bg_r.png');
      right: 0px;
      top: 3px;
      text-align: right;
    }
  }
  .password-box {
    width: 252px;
    height: 101.25px;
    margin: 6.25px auto 0;
    font-size: 18px;
    line-height: 30.5px;
    color: #fff;
    text-align: center;
    font-weight: bold;
  }
  .join-btn {
    box-sizing: border-box;
    width: 106.5px;
    height: 106.5px;
    margin: 0 auto;
    padding: 43.5px 0 0 23px;
    background-image: url('../../images/join_btn.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 0;
    .join-text {
      font-size: 15px;
      line-height: 15px;
      font-family: 'PingFang-SC-Heavy';
    }
    .input-text {
      font-size: 20px;
      line-height: 20px;
      font-family: 'PingFang-SC-Bold';
      font-weight: bold;
      margin-top: -3px;
    }
    .text {
      color: #fff;
      text-align: center;
      display: inline-block;
    }
  }
  .join-tips {
    font-size: 0;
    height: 12px;
    text-align: center;
    margin-bottom: 23.5px;
    .text {
      display: inline-block;
      height: 12px;
      color: #fff;
      font-size: 12px;
      line-height: 12px;
      font-family: 'PingFang-SC-Medium';
    }
  }
  .disabled-btn {
    width: 171.5px;
    height: 106.5px;
    background-image: url('../../images/thanks.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto 35.5px;
    text-align: center;
    padding-top: 43.5px;
    font-size: 0;
    box-sizing: border-box;
    .text {
      display: inline-block;
      font-size: 15px;
      line-height: 15px;
      height: 15px;
      color: #fff;
      font-family: 'PingFang-SC-Heavy';
    }
  }
  .activity-tips {
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-family: 'PingFang-SC-Medium';
    margin-bottom: 15.5px;
    .today-chance {
      line-height: 12px;
      margin-bottom: 8.5px;
    }
    .invitation-chance {
      line-height: 12px;
    }
  }
  .join-num-box {
    text-align: center;
    height: 18px;
    font-size: 0;
    margin-bottom: 16px;
    .join-num {
      display: inline-block;
      height: 18px;
      line-height: 18px;
      background: rgba(254,218,131,1);
      border-radius: 9px;
      padding: 0 20px;
      color: #D03E3C;
      font-family: 'PingFang-SC-Medium';
      font-size: 11px;
    }
  }
  .down-btn {
    height: 12px;
    width: 22px;
    margin: 0 auto;
    background-image: url('../../images/down.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .join-people-popup {
    padding: 14px 0 0;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    overflow: hidden;
    .popup-header {
      position: absolute;
      z-index: 99;
      width: 100%;
      height: 35px;
      line-height: 35px;
      font-family: 'PingFang-SC-Medium';
      font-size: 14px;
      box-sizing: border-box;
      padding: 0 15px;
      background: #fff;
      .join-num {
        color: #333;
      }
      .join-type {
        color: #CF3E3C;
      }
    }
  }
  .join-empty {
    padding-top: 112px;
    text-align: center;
    .icon {
      display: block;
      margin: 0 auto;
      width: 112px;
      height: 85px;
      background-image: url('../../images/empty.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .tips {
      margin-top: 18px;
      font-size: 14px;
      color: #999;
      font-family: 'PingFang-SC-Medium';
    }
  }
  .join-list {
    height: 100%;
    box-sizing: border-box;
    padding: 35px 15px 14px;
    overflow-y: auto;
    .item {
      height: 85px;
      padding: 20px 0;
      box-sizing: border-box;
      border-bottom: 1px solid #F0F0F0;
      .avatar {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
        float: left;
        .img {
          width: 100%;
          height: 100%;
        }
      }
      .info {
        margin-left: 7px;
        float: left;
        .name {
          height: 16px;
          line-height: 16px;
          font-size:14px;
          font-family: 'PingFang SC';
          font-weight: bold;
          color: rgba(51,51,51,1);
          width: 180px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .voice {
          margin-top: 9px;
          .bubble {
            width: 90px;
            height: 22px;
            background-image: url('../../images/voice_bubble.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 5.5px 0 0 12px;
            box-sizing: border-box;
            float: left;
            .icon {
              display: block;
              width: 9px;
              height: 12px;
              background-image: url('../../images/voice.png');
              background-repeat: no-repeat;
              background-size: 100% 100%;
            }
          }
          .time {
            float: left;
            margin-left: 6px;
            font-size:14px;
            line-height: 22px;
            height: 22px;
            font-family: 'PingFang SC';
            color: rgba(68,68,68,1);
          }
        }
        .text {
          margin-top: 14px;
          font-size: 14px;
          line-height: 16px;
          height: 16px;
          width: 180px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .prize {
        text-align: right;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        color: #333;
        font-family: 'PingFang-SC-Medium';
        .num {
          font-size: 18px;
          font-weight: bold;
        }
      }
      .date {
        text-align: right;
        font-family: 'PingFang-SC-Medium';
        font-size: 12px;
        color: #999;
        margin-top: 13px;
        line-height: 14px;
      }
    }
  }
  .join-list-loading {
    line-height: 50px;
    color: #999;
    text-align: center;
    font-size: 14px;
  }
  .share-tips-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);
    .icon {
      position: absolute;
      top: 15px;
      right: 31px;
      display: block;
      width: 135px;
      height: 153px;
      background-image: url('../../images/share_icon.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .tips {
      text-align: center;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      font-family: 'SourceHanSansCN-Regular';
      position: absolute;
      top: 152px;
      right: 177px;
    }
  }
}