.prize .prize-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 199;
  width: 100%;
  height: 50px;
  background: #fff;
}

.prize .mescroll {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  height: auto;
  background: #f8f8f8;
}

.prize .prize-content {
  padding: 13px 12px;
}

.prize .prize-list .item {
  margin-bottom: 10px;
  background: #fff;
  border-radius: 5px;
}

.prize .prize-list .item .card-header {
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  font-size: 13px;
  color: #999;
  box-sizing: border-box;
  border-bottom: 1px solid #EFEFEF;
}

.prize .prize-list .item .card-body {
  position: relative;
  box-sizing: border-box;
  padding: 13px 10px;
  border-bottom: 1px solid #EFEFEF;
}

.prize .prize-list .item .card-body .goods-img-box {
  width: 75px;
  height: 75px;
  background-color: #f6f6f6;
  position: absolute;
}

.prize .prize-list .item .card-body .goods-img-box .img {
  display: block;
  width: 100%;
  height: 100%;
}

.prize .prize-list .item .card-body .goods-info {
  box-sizing: border-box;
  padding-left: 85px;
}

.prize .prize-list .item .card-body .goods-info .name {
  font-size: 15px;
  color: #333;
  line-height: 17px;
  height: 17px;
  margin-bottom: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.prize .prize-list .item .card-body .goods-info .source {
  color: #666;
  font-size: 14px;
  line-height: 16px;
  height: 16px;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.prize .prize-list .item .card-body .goods-info .type {
  font-size: 14px;
  color: #FF4800;
  line-height: 16px;
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.prize .prize-list .item .card-footer {
  height: 47px;
  box-sizing: border-box;
  padding: 10px;
  text-align: right;
}

.prize .prize-list .item .card-footer .footer-btn {
  width: 80px;
  height: 27px;
  border-radius: 13px;
  background: #fff;
  outline: 0;
  margin-right: 10px;
  font-size: 13px;
  border-width: 1px;
  border-style: solid;
}

.prize .prize-list .item .card-footer .footer-btn:last-child {
  margin-right: 0;
}

.prize .prize-list .item .card-footer .orange-btn {
  color: #FF4800;
  border-color: #ff4800;
}

.prize .prize-list .item .card-footer .gary-btn {
  color: #999;
  border-color: #dedede;
}
